
@{
    ViewData["Title"] = "ListOfReturnedPurchase";
    Layout = "~/Views/Shared/_Metronic.cshtml";
}


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>$("#listOfActive").addClass("active")</script>


<div class="col-md-12 " id="purchaseList">
    <section>
        <div class="row">
            <div class="card">
                <div class="card-header ">
                    <h1 class="card-title "><strong>د اخیستل شویو اجناسو د واپسیو لېست</strong></h1>
                    <hr />
                    <a class="heading-elements-toggle">
                        <i class="fa fa-ellipsis-v font-medium-3"></i>
                    </a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            @*
                                <li><a data-action="close"><i class="ft-x"></i></a></li>*@
                        </ul>
                    </div>
                </div>
                <div class="card-content  collapse show">
                    <div class="card-body">
                        <div class="">
                            <table class="table  table-responsive table-bordered dataex-fixh-basic dataTable" id="tblList">
                                <thead>
                                    <tr role="row">
                                        <th>بیل نمبر</th>
                                        <th>جنس</th>
                                        <th>شرکت</th>
                                        <th>کمپنی</th>
                                        <th>کارتن تعداد</th>
                                        <th>د کارتن ظرفیت</th>
                                        <th>واحد</th>
                                        <th>پیرلو بیه</th>
                                        @*
                                            <1">
                                                پلور بیه</th>*@
                                        <th>مجموعه</th>
                                        <th>پیسو ډول</th>

                                        <th>ختم نیټه</th>
                                        <th>د واپسی نیټه</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
</div>



@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        PurchasedReturned();
    })
    function PurchasedReturned() {

        $.ajax({
            url: '/Employee/FetchPurchaseReturned/',
            type: 'POST',
            contentType: "application/json",
            data: '{}',
            datatype: "JSON",
            success: function (result) {

                var tr = "";
                $.each(result, function (i, col) {
                    tr += "  <tr> ";
                    tr += "      <td>" + col.billno + "</td> ";
                    tr += "      <td>" + col.item + "</td> ";
                    tr += "      <td>" + col.dealer + "</td> ";
                    tr += "      <td>" + col.company + "</td> ";
                    tr += "      <td>" + (col.quantity / col.amountinpackage) + "</td> ";
                    tr += "      <td>" + col.amountinpackage + "</td> ";
                    tr += "      <td>" + col.unit + "</td> ";
                    tr += "      <td>" + col.purchaseprice + "</td> ";

                    tr += "      <td>" + ((col.quantity / col.amountinpackage) * col.purchaseprice) + "</td> ";
                    tr += "      <td>" + col.currency + "</td> ";
                    tr += "      <td>" + col.expiredate + "</td> ";
                    tr += "      <td>" + col.returndate + "</td> ";
                    tr += "  </tr>";
                });
                $("#tblList>tbody").html("").html(tr);
                if (show) {
                    show = false;
                    $("#tblList").DataTable({
                        stateSave: true,
                        // responsive = true,
                        select: false,
                        ordering: true,
                        "scrollY": "315px",
                        "scrollX": "315px",
                        "lengthChange": false,
                        "lengthMenu": [[5, 10, 20, -1], [10, 25, 50, "All"]],
                        "pageLength": 5,
                        //"lengthMenu":[[5,10,20,-1],[10,25,50,"All"]],
                        "language": {
                            "emptyTable": "په جدول کې معلومات شتون نه لري",
                            "info": "د <b>( _START_  )</b> تر <b>( _END_  )</b> د <b>( _TOTAL_ )</b> ریکاروډونو څخه."
                            ,
                            "pageLength": 5,
                            "lengthChange": false,

                            "infoEmpty": "",
                            "infoFiltered": "( پیدا شوي  <b> ( _MAX_ ) </b>  ټول ریکارډونه)",
                            "infoPostFix": "",
                            "lengthMenu": [[5, 10, 20, -1], [10, 25, 50, "All"]],
                            "search": "پلټنه <span class='glyphicon glyphicon-search'></span>",
                            "searchPlaceholder": "پلټنه",
                            "zeroRecords": "پدی نوم هیڅ ریکارډ پیدا نشو ",
                            "paginate": {
                                "first": "لومړۍ پاڼه",
                                "previous": "مخکې",
                                "next": "وروسته",
                                "last": "پای"
                            },
                        },
                    });
                }
                function dateFormat(d) {
                    console.log(d);
                    return ((d.getMonth() + 1) + "").padStart(2, "0")
                        + "/" + (d.getDate() + "").padStart(2, "0")
                        + "/" + d.getFullYear();
                }
            },
            error: function (err) {
                console.log(err)
            }
        })
    }

</script>

