<div class="card">
    <div class="card-content">
        <div class="card-body ">
            <div class=" text-center p-2 m-1"style="background-color:aliceblue">
                <h1 style="font-size:30px;">Dream Academy</h1>
            </div>
            <div class="text-center p-0 m-0">

                <img src="~/images/StaticImages/Logo.png" style="height:40%;width:40%;" />
               
            </div>
        </div>
    </div>
</div>