
@model AllViewModel

@{
    ViewData["Title"] = "Student Registration Form";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>$("#studentsAttendanceInfo").addClass("active")</script>

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorize

@if (!(await authorize.AuthorizeAsync(User, "ViewRolePolicy")).Succeeded)
{

    @await Html.PartialAsync("AccessDeniedPartial")


    ViewBag.view = "d-none";
    ViewBag.Insert = "d-none";
    ViewBag.Delete = "d-none";
    ViewBag.Edit = "d-none";
}


@if ((await authorize.AuthorizeAsync(User, "ViewRolePolicy")).Succeeded)
{
    ViewBag.view = "";
    ViewBag.Insert = "d-none";
    ViewBag.Delete = "d-none";
    ViewBag.Edit = "d-none";
}

@if ((await authorize.AuthorizeAsync(User, "InsertRolePolicy")).Succeeded)
{
    ViewBag.view = "";
    ViewBag.Insert = "";
    ViewBag.Delete = "d-none";
    ViewBag.Edit = "d-none";
}

@if ((await authorize.AuthorizeAsync(User, "EditRolePolicy")).Succeeded)
{
    ViewBag.view = "";
    ViewBag.Insert = "";
    ViewBag.Edit = "";
    ViewBag.Delete = "d-none";
}

@if ((await authorize.AuthorizeAsync(User, "DeleteRolePolicy")).Succeeded)
{
    ViewBag.view = "";
    ViewBag.Insert = "";
    ViewBag.Edit = "";
    //  ViewBag.Delete = "";
}



<div id="div1" class="container-fluid card  @ViewBag.view">
    <div id="div2" class="card col-md-12">

        <div class="card-header ">
            <h2 class="text-center alert bg-yellow bg-darken-2 box-shadow-1" style="background-color:#ffffff;">
             My Attendance 
            </h2>
            <hr />
        </div>
        <div class="card-body">
            <div id="divAllAttendance">
                <table class="table table-responsive table-striped table-condensed table-bordered dataTables_scrollHead " id="tblAllAttendance">
                    <thead class="scrollable-container ps--scrolling-x">
                        <tr role="row">
                            <th style="max-width:20px;">#</th>
                            <th class="">Class</th>
                            <th class="">Department</th>
                            <th class="">Start Time</th>
                            <th class="">End Time</th>
                            <th class="">Total Credit Hours</th>
                            <th class="">Attended</th>
                            <th class="">Absent</th>
                            <th class="">Leave</th>
                            <th class="">Attended %</th>
                            <th class="">Absent %</th>
                            <th class="">Leave %</th>
                            <th class="">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <br /><br />
            <div class="d-none" id="div3">
                <div class="text-center alert alert-info">
                    <p style="font-size:xx-large" id="lblStudent" class="font-italic text-capitalize"></p>
                </div>
                <div class="col-md-6 offset-3">
                    <table class="table table-responsive table-striped table-bordered" id="tblSingleAttendance">
                        <thead class="">
                            <tr>
                                <th>#</th>
                                <th class="col-md-5">Attendance Date</th>
                                <th class="col-md-5">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>


@*<form data-ajax="true" asp-action="DeleteExamType" data-ajax-method="post" asp-controller="Student" data-ajax-success="deleted(data)">
        <input hidden id="deleteId" asp-for="examType.ExamTypeId" />
        <button type="submit" class="d-none" id="btnDelete"></button>
    </form>*@


<form data-ajax="true" asp-action="FetchStudents" data-ajax-method="post" asp-controller="Student" data-ajax-success="deleted(data)">
    <input hidden id="deleteId" asp-for="examType.ExamTypeId" />
    <button type="submit" class="d-none" id="btnDelete"></button>
</form>
<input type="hidden" name="name" id="rowValue" value="" />

@* ////////////////////////  MY needed view  /////////// *@
<form data-ajax="true" asp-action="AssingAttendance" data-ajax-method="post" asp-controller="Attendance" data-ajax-success="AttendanceSuccess(data)">
    <div class="d-none">
        <input type="text" name="attStudentID" id="attStudentID" />
        <input type="text" name="attClassID" id="attClassID" />
        <input type="text" name="attState" id="attState" />
        <input type="text" name="saveOrEdit" value="1" id="saveOrEdit" />
        <button type="submit" class="d-none" id="btnAssignAttendance"></button>
    </div>

</form>
@* /////////////////////////////  Fetching Selected student attendance in detile ////// *@
<form data-ajax="true" asp-action="attendanceOfSelectedStudent" data-ajax-method="post" asp-controller="Attendance" data-ajax-success="fetchDetiledAttendance(data)">
    <input hidden id="studentIdForAttendance" name="studentIdForAttendance" />
    <input hidden id="classIdForAttendance" name="classIdForAttendance" />
    <button type="submit" class="d-none" id="btnFetchDetiledAttendance"></button>
</form>
<input hidden id="stdId" />
<input hidden id="inputAttendance" value="Attendance" />
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")


    <script>
        var show = true;
        $(document).ready(function () {
            loadAllAttendance();
        })
    </script>
    @* ////////////////////  My script //////// *@
<script>

        function loadAllAttendance() {

             $.ajax({
                 url: "/Student/loadMyAttendance/",
                type: "POST",
                contentType: "application/json",
                datatype: "JSON",
                 success: function (result) {
                     var tr = "";
                     var attendedPercentage = 0.0;
                     var absentPercentage = 0.0;
                     var leavePercentage = 0.0;
                     $.each(result, function (i, col) {
                         attendedPercentage = (100 * col.totalAttended) / col.totalCredit;
                         leavePercentage = (100 * col.totalLeave) / col.totalCredit;
                         absentPercentage = (100 * col.totalAbsent) / col.totalCredit;
                         tr += '<tr  role="row">' +
                             '<td>' + (i + 1) + '</td>' +
                             ' <td>' + col.className + '</td>' +
                             ' <td>' + col.department + '</td>' +
                             '<td>' + col.classStartTime + '</td>' +
                             '<td>' + col.classEndTime + '</td>' +
                             '<td>' + col.totalCredit + '</td>' +
                             '<td>' + col.totalAttended + '</td>' +
                             '<td>' + col.totalAbsent + '</td>' +
                             '<td>' + col.totalLeave + '</td>' +
                             '<td>' + attendedPercentage.toFixed(2) + '%</td>' +
                             '<td>' + absentPercentage.toFixed(2) + '%</td>' +
                             '<td> ' + leavePercentage.toFixed(2) + '% </td>' +
                             '<td> <button class="btn btn-info" onClick="fetchSelectedStudentAttendance(' + col.studentId + ',\'' + col.name + '\',\'' + col.className + '\',\'' + col.classId + '\')"><i class="fa fa-info"></i></button> </td>' +
                             '</tr>';
                     })
                     var table = $("#tblAllAttendance").dataTable();
                     table.fnDestroy();

                     $("#tblAllAttendance>tbody").html("").html(tr);

                     $("#tblAllAttendance").DataTable({
                         "lengthMenu": [[5, 10, 20, -1], [5, 15, 50, "All"]],
                         stateSave: true
                     });
                 },
                error: function (err) {
                    console.log(err);
                },
                complete: function () {

                }

            })
        }
        function fetchSelectedStudentAttendance(studentId, name, className, classId) {

        $("#studentIdForAttendance").val(studentId);
        $("#classIdForAttendance").val(classId);
        $("#btnFetchDetiledAttendance").trigger("click");
        $("#lblStudent").text(name + " Attendance Details");
      }
        function fetchDetiledAttendance(data) {
            $("#div3").removeClass("d-none");
              var row = "";
           $.each(data, function (i, col) {
               row += '<tr  role="row">' +
                         '<td class="">' + (i + 1) + '</td>' +
                         '<td class="col-md-5">' + col.date + '</td>' +
                         '<td class="col-md-5">' + col.status + '</td>' +
                       '</tr>';
           })
           var table = $("#tblSingleAttendance").dataTable();
            table.fnDestroy();

            $("#tblSingleAttendance>tbody").html("").html(row);

           $("#tblSingleAttendance").DataTable({
                     "lengthMenu": [[5, 10, 20, -1], [5, 15, 50, "All"]],
                     stateSave: true
           });
       }
</script>

}
